.visabilitty-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col-'] {
  padding: 0 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 16px;
  color: #ffffff; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li {
  list-style: none; }

img {
  height: 100%;
  max-width: 100%; }

.ba-banner {
  height: 100vh;
  background-color: #393d3f;
  background-image: url(../images/Image.jpg);
  background-size: cover; }
  .ba-banner .ba-hero {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 134px; }
    .ba-banner .ba-hero .ba-hero-info {
      text-align: center; }
      .ba-banner .ba-hero .ba-hero-info__title {
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 1.8;
        margin-bottom: 0; }
      .ba-banner .ba-hero .ba-hero-info__text {
        font-size: 1.375rem;
        font-weight: 300;
        letter-spacing: 3px; }
    .ba-banner .ba-hero .ba-search-form {
      width: 100%;
      max-width: 654px;
      display: flex;
      align-items: center;
      margin-top: 47px;
      margin-bottom: 115px; }
      .ba-banner .ba-hero .ba-search-form .ba-input {
        width: 70%;
        height: 60px;
        padding: 20px;
        border: 1px solid #fff;
        border-right: none;
        flex-grow: 1;
        font-weight: 400;
        line-height: 60px;
        font-size: 0.875rem;
        letter-spacing: 2px; }
        .ba-banner .ba-hero .ba-search-form .ba-input::placeholder {
          opacity: .7;
          font-size: .575;
          letter-spacing: 1.5px;
          text-align: center;
          text-indent: 0;
          transition: text-indent 0.3s ease; }
        .ba-banner .ba-hero .ba-search-form .ba-input:focus::placeholder {
          text-indent: 500px; }
      .ba-banner .ba-hero .ba-search-form .ba-button {
        width: 25%;
        position: relative;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        background-color: #5474fd;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        font-family: "Aleo", serif;
        border: 1px solid #fff;
        transition: .4s;
        cursor: pointer;
        z-index: 1;
        overflow: hidden; }
        .ba-banner .ba-hero .ba-search-form .ba-button .ba-search {
          position: absolute;
          right: 10%;
          width: 20px; }
        .ba-banner .ba-hero .ba-search-form .ba-button::after {
          content: url(../images/search.svg);
          position: absolute;
          top: 12%;
          right: 5px; }
        .ba-banner .ba-hero .ba-search-form .ba-button::before, .ba-banner .ba-hero .ba-search-form .ba-button::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(112, 68, 255, 0.4);
          top: 0;
          left: -100%;
          position: absolute;
          transition: .3s;
          z-index: 10; }
        .ba-banner .ba-hero .ba-search-form .ba-button:hover::before {
          left: 0; }
        .ba-banner .ba-hero .ba-search-form .ba-button::after {
          background: rgba(58, 39, 119, 0.4);
          top: 100%;
          left: 0; }
        .ba-banner .ba-hero .ba-search-form .ba-button:hover::after {
          top: 0;
          transition-delay: .2s; }
    .ba-banner .ba-hero .ba-scroll {
      position: relative;
      font-size: .875;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1.5; }
      .ba-banner .ba-hero .ba-scroll::after {
        position: absolute;
        content: url(../images/scroll.svg);
        display: block;
        left: 50%;
        transform: translateX(-50%); }
      .ba-banner .ba-hero .ba-scroll:hover {
        opacity: .5; }
  .ba-banner .ba-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 80px;
    background-color: #5474fd; }
    .ba-banner .ba-header .ba-logo__item {
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 1px; }
    .ba-banner .ba-header .ba-menu {
      display: flex; }
      .ba-banner .ba-header .ba-menu__item {
        text-transform: uppercase;
        margin-right: 43px;
        font-size: .875rem;
        font-family: "Aleo", serif; }
        .ba-banner .ba-header .ba-menu__item:last-child {
          margin-right: 0; }
        .ba-banner .ba-header .ba-menu__item:hover {
          opacity: .7; }

.ba-info {
  padding-bottom: 10vh;
  background-color: #333333;
  background-image: url(../images/info.jpg);
  background-size: cover; }
  .ba-info .ba-info-desc {
    padding-top: 195px; }
    .ba-info .ba-info-desc__title {
      font-family: "Aleo", serif;
      font-size: 2.25rem;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 45px; }
    .ba-info .ba-info-desc__text {
      font-size: 1rem;
      line-height: 1.8;
      font-weight: 300;
      letter-spacing: 1px;
      margin-bottom: 25px; }
      .ba-info .ba-info-desc__text--bottom {
        margin-bottom: 0; }
    .ba-info .ba-info-desc__link {
      display: inline-block;
      position: relative;
      overflow: hidden;
      font-family: "Aleo", serif;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 20px 38px;
      background-color: #496bfe;
      margin-top: 45px; }
      .ba-info .ba-info-desc__link::before, .ba-info .ba-info-desc__link::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(112, 68, 255, 0.4);
        top: 0;
        left: -100%;
        position: absolute;
        transition: .3s;
        z-index: 10; }
      .ba-info .ba-info-desc__link:hover::before {
        left: 0; }
      .ba-info .ba-info-desc__link::after {
        background: rgba(58, 39, 119, 0.4);
        top: 100%;
        left: 0; }
      .ba-info .ba-info-desc__link:hover::after {
        top: 0;
        transition-delay: .2s; }
  .ba-info .ba-slide {
    padding-top: 119px;
    padding-left: 66px; }
    .ba-info .ba-slide .ba-slide__img {
      padding-left: 10vw; }

.ba-place {
  font-family: "Aleo", serif;
  font-size: 2.25rem;
  font-weight: 300;
  padding: 130px 0 92px;
  background-color: #333333; }
  .ba-place .ba-search {
    display: flex;
    justify-content: center;
    position: relative; }
    .ba-place .ba-search::after {
      position: absolute;
      content: url(../images/search.png);
      bottom: 100%;
      left: 50%;
      margin-bottom: 15px;
      transform: translateX(-50%); }
  .ba-place .ba-arrow {
    display: flex;
    justify-content: center;
    position: relative; }
    .ba-place .ba-arrow::after {
      position: absolute;
      content: url(../images/arrow.png);
      bottom: 100%;
      left: 50%;
      margin-bottom: 15px;
      transform: translateX(-50%); }
  .ba-place .ba-like {
    position: relative;
    display: flex;
    justify-content: center; }
    .ba-place .ba-like::after {
      position: absolute;
      content: url(../images/like.png);
      bottom: 100%;
      left: 50%;
      margin-bottom: 15px;
      transform: translateX(-50%); }

.ba-card-one {
  padding: 217px 0 100px;
  background-color: #333333;
  background-image: url(../images/card-bg1.jpg);
  background-size: cover; }
  .ba-card-one .ba-info-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 451px;
    padding: 42px 32px 50px;
    margin-left: 40px; }
    .ba-card-one .ba-info-box__name {
      display: inline-block;
      font-size: 1.25rem;
      letter-spacing: .75px;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 20px; }
    .ba-card-one .ba-info-box__title {
      font-size: 1.25rem;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 20px; }
    .ba-card-one .ba-info-box__text {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 300;
      margin-bottom: 43px; }
    .ba-card-one .ba-info-box__link {
      display: inline-block;
      position: relative;
      font-family: "Aleo", serif;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.5;
      background-color: #496bfe;
      padding: 20px 63px; }
      .ba-card-one .ba-info-box__link::before, .ba-card-one .ba-info-box__link::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(112, 68, 255, 0.4);
        top: 0;
        left: -100%;
        position: absolute;
        transition: .3s;
        z-index: 10; }
      .ba-card-one .ba-info-box__link:hover::before {
        left: 0; }
      .ba-card-one .ba-info-box__link::after {
        background: rgba(58, 39, 119, 0.4);
        top: 100%;
        left: 0; }
      .ba-card-one .ba-info-box__link:hover::after {
        top: 0;
        transition-delay: .2s; }

.ba-card-two {
  padding: 217px 0 100px;
  background-color: #333;
  background-image: url(../images/card-bg2.jpg);
  background-size: cover; }
  .ba-card-two .ba-card-wrapp {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px; }
    .ba-card-two .ba-card-wrapp .ba-info-box {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      max-width: 451px;
      padding: 42px 32px 50px; }
      .ba-card-two .ba-card-wrapp .ba-info-box__name {
        display: inline-block;
        font-size: 1.25rem;
        letter-spacing: .75px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px; }
      .ba-card-two .ba-card-wrapp .ba-info-box__title {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px; }
      .ba-card-two .ba-card-wrapp .ba-info-box__text {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 43px; }
      .ba-card-two .ba-card-wrapp .ba-info-box__link {
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-family: "Aleo", serif;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1.5;
        background-color: #496bfe;
        padding: 20px 63px; }
        .ba-card-two .ba-card-wrapp .ba-info-box__link::before, .ba-card-two .ba-card-wrapp .ba-info-box__link::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(112, 68, 255, 0.4);
          top: 0;
          left: -100%;
          position: absolute;
          transition: .3s;
          z-index: 10; }
        .ba-card-two .ba-card-wrapp .ba-info-box__link:hover::before {
          left: 0; }
        .ba-card-two .ba-card-wrapp .ba-info-box__link::after {
          background: rgba(58, 39, 119, 0.4);
          top: 100%;
          left: 0; }
        .ba-card-two .ba-card-wrapp .ba-info-box__link:hover::after {
          top: 0;
          transition-delay: .2s; }

.ba-description {
  padding: 100px 0 200px;
  background-color: #333333;
  background-image: url(../images/desc-bg.jpg);
  background-size: cover; }
  .ba-description .ba-description-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .ba-description__title {
    font-family: "Aleo", serif;
    font-size: 2.25rem;
    font-weight: 400; }
  .ba-description .ba-description-card {
    display: flex;
    margin-top: 92px; }
    .ba-description .ba-description-card .ba-description-info {
      padding: 42px 57px 42px 60px;
      background-color: #333333;
      width: 100%;
      max-width: 665px; }
      .ba-description .ba-description-card .ba-description-info__title {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 35px; }
      .ba-description .ba-description-card .ba-description-info__quote {
        position: relative;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 300; }
        .ba-description .ba-description-card .ba-description-info__quote .fa {
          color: #496bfe;
          margin-right: 7px;
          font-size: 1.3rem; }

.ba-footer {
  padding: 110px 0 50px;
  background-color: #232323; }
  .ba-footer .ba-footer-wrapp {
    display: flex;
    justify-content: center;
    align-items: center; }
    .ba-footer .ba-footer-wrapp .ba-social {
      display: flex;
      flex-direction: column; }
      .ba-footer .ba-footer-wrapp .ba-social__logo {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 3px;
        line-height: 1.5;
        margin-bottom: 8px;
        text-align: center; }
      .ba-footer .ba-footer-wrapp .ba-social__text {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: .7px;
        font-weight: 300; }
      .ba-footer .ba-footer-wrapp .ba-social .ba-icon {
        margin-top: 25px; }
        .ba-footer .ba-footer-wrapp .ba-social .ba-icon .ba-icon__menu {
          display: flex;
          justify-content: space-between; }
          .ba-footer .ba-footer-wrapp .ba-social .ba-icon .ba-icon__menu .fa {
            transition: .4s; }
            .ba-footer .ba-footer-wrapp .ba-social .ba-icon .ba-icon__menu .fa:hover {
              color: blue; }
